.header {
    height: 10em;
    padding: 2em;
    font-size: 2.5em;
    text-align: center;
    color: whitesmoke;
    background-image: url("../imgs/fondo.png");
    background-size: cover;
    background-position: center;
}

.header h1 {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.products {
    width: 80%;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;   
}

.products td {
    width: 50%;
    padding: 2em;
}

.products img {
    width: 100%;
    border: solid 2px rgb(61, 58, 69);
}

.bold {
    font-weight: 800;
    color: rgb(27, 27, 144);
}

.footer {
    height: 4em;
    line-height: 4em;
    background-color: rgb(27, 27, 144);
    color: antiquewhite;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 900;
}